*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin';
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * 0.95);
}

.header {
  text-align: center;
}

.header h1,
.header p {
  color: #144904;
}

.board {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: auto;
}

/* MODE HEADER**********************/

header {
  background-color: #ffd5ca;
}

ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

li a:hover,
.active {
  background-color: #ffcaa6;
}

#classic {
  color: #2abbb4;
}

#heart {
  color: #789561;
}

#geometry {
  color: #923592;
}

#pastel {
  color: #ff7920;
}

#neon {
  color: #274c77;
}

/***********************************/

/* CREATING CELLS*******************/

.cell {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(39, 61, 110);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 6px solid rgb(39, 61, 110);
}

.cell:nth-child(3n + 1) {
  border-left: 6px solid rgb(39, 61, 110);
}

.cell:nth-child(3n + 3) {
  border-right: 6px solid rgb(39, 61, 110);
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: 6px solid rgb(39, 61, 110);
}

.cell:first-child {
  border-top-left-radius: 20px;
}

.cell:nth-child(3) {
  border-top-right-radius: 20px;
}

.cell:nth-child(7) {
  border-bottom-left-radius: 20px;
}

.cell:last-child {
  border-bottom-right-radius: 20px;
}

/***********************************/

/* CREATING X SHAPES****************/

.cell.ex {
  background-color: #e5a2e2;
}

.board.ex .cell:not(.ex):not(.oh):hover {
  background-color: #fcd9ff;
}

.cell.ex::before,
.cell.ex::after,
.board.ex .cell:not(.ex):not(.oh):hover::before,
.board.ex .cell:not(.ex):not(.oh):hover::after {
  position: absolute;
  content: '';
  width: calc(var(--mark-size) * 0.165);
  height: calc(var(--mark-size) * 0.8);
  border-radius: 25px;
}

.cell.ex::before,
.cell.ex::after {
  background: #783e8d;
}

.cell.ex::before,
.board.ex .cell:not(.ex):not(.oh):hover::before {
  transform: rotate(45deg);
}

.cell.ex::after,
.board.ex .cell:not(.ex):not(.oh):hover::after {
  transform: rotate(-45deg);
}

.board.ex .cell:not(.ex):not(.oh):hover::before,
.board.ex .cell:not(.ex):not(.oh):hover::after {
  background-color: #d5a4e7;
}

/***********************************/

/* CREATING O SHAPE*************/

.cell.oh {
  background-color: #a5d1e6;
}

.board.oh .cell:not(.ex):not(.oh):hover {
  background-color: #caeeff;
}

.cell.oh::before,
.cell.oh::after,
.board.oh .cell:not(.ex):not(.oh):hover::before,
.board.oh .cell:not(.ex):not(.oh):hover::after {
  position: absolute;
  content: '';
  border-radius: 50%;
}

.cell.oh::before,
.board.oh .cell:not(.ex):not(.oh):hover::before {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}

.cell.oh::before {
  background: #075174;
}

.cell.oh::after,
.board.oh .cell:not(.ex):not(.oh):hover::after {
  width: calc(var(--mark-size) * 0.435);
  height: calc(var(--mark-size) * 0.435);
}

.cell.oh::after {
  background-color: #a5d1e6;
}

.board.oh .cell:not(.ex):not(.oh):hover::after {
  background-color: #caeeff;
}

.board.oh .cell:not(.ex):not(.oh):hover::before {
  background-color: #96b9d0;
}

/***********************************/

/* END OF GAME DISPLAY**************/

.end {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(43, 43, 43, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(170, 255, 163);
  font-size: 5rem;
}

.end button {
  font-size: 25px;
  background-color: #10270c;
  color: #00db80;
  border: none;
  cursor: pointer;
}

.end button:hover {
  background-color: #004e1e;
}

.end button:active {
  background-color: white;
  color: rgba(48, 92, 28, 0.836);
  box-shadow: 2px 2px 5px grey;
}

.end.show {
  display: flex;
}
