*, *::after, *::before {
    box-sizing: border-box;
}
  
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.95);
}
  
body {
    background: silver;
}
  
.header {
    font-family: 'Solway';
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}
  
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}
  
.cell {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}
  
.cell:nth-child(3n+1) {
    border-left: none;
}
  
.cell:nth-child(3n+3) {
    border-right: none;
}
  
.cell:last-child, .cell:nth-child(7), .cell:nth-child(8) {
    border-bottom: none;
}
  
  
.cell.ex::before, .cell.ex::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * 0.165);
    height: var(--mark-size);
    background-color: black;
    border-radius: 25px;
}
  
.cell.ex::before {
    transform: rotate(45deg);
}
  
.cell.ex::after {
    transform: rotate(-45deg);
}
  
.cell.oh::before, .cell.oh::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.cell.oh::before {
    width: calc(var(--mark-size) * 0.775);
    height: calc(var(--mark-size) * 0.775);
    background: black;
}
  
.cell.oh::after {
    width: calc(var(--mark-size) * 0.475);
    height: calc(var(--mark-size) * 0.475);
    background: silver;
}
  
.cell.ex, .cell.oh {
    cursor: not-allowed;
}